* {
	padding: 0;
	margin: 0;
}

img {
	width: 100%;
}

@font-face {
    font-family: 'Cabin';
    src: url(https://fonts.googleapis.com/css?family=Cabin);
    font-family: 'Righteous';
    src: url(https://fonts.googleapis.com/css?family=Righteous);
}

#header {
	font-family: 'Cabin', sans-serif;
	background-color: #E55459;
	text-align: right;
	height: 10vh;
	color: white;
	display: inline;
}

#back_button{
	width: 40px;
	display: inline;
	position: absolute;
	left: 10px;
	bottom: 10px;
}

h1 {

	font-size: 200%;
	position: absolute;
	bottom: 0;
	right: 5%;
}

h2 {
	font-size: 150%;
	text-align: center;
	color: white;
	text-decoration: none;
}



#header-pic {
	background-color: #310135;
	align-content: center;
	padding: 0px;

}




#topic-header {
	background-color: #817C81
}

#section1 {
	height: 32vh;
}

#section1-picture {
	padding: 0px;
	height: 100%;

	position: relative;

	overflow: hidden;

}

#section1-text {
	background-color: #403641;
	color: white;
	padding: 0px;
	display: block;
	height: 32vh;

}

.section-text {
	font-size: 140%;
	font-family: 'Cabin', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
	text-align: left; 
}


img {
	max-width: 100%;
	overflow: hidden;
}

#section2-picture {
	padding: 0px;
	height: 100%;
	position: relative;

	overflow: hidden;

}

#section2-text {
	background-color: #817C81;
	color: white;
	padding: 0px;
	display: block;
	height: 33vh;
}

#link {
	text-decoration: none;
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 150%;
}

h2 a:hover {
	color: white;
}

h2 a:active {
	color: white;
	text-decoration: none;
}

h2 a:visited {
	color: white;
}
