#header{
	background-color: #e35459;
	margin:0px;
	padding-top: 2%;
	padding-bottom: 2%;
}

h1{
	color:#ffffff;
	font-size: 380%;
	display: inline-block;
	position: absolute;
	right: 3%;
	top: 0px;
    font-family: 'Cabin', sans-serif;
}

#back_button{
    width: 7%;
	margin:auto;
}

img.pittImage {
    width: 100%;
}

#main {
    width: 100%;
}

div.info {
    background-color: #3f3642;
    padding-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    font-size: 270%;
    color: #ffffff;
}

div.icons {
    width: 100%;
    background-color: #3f3642;
    padding-top: 10%;
    padding-bottom: 10%;
}

div.col1 {
    width: 30%;
    display: inline-block;
    margin-left: 15%;
    margin-bottom: 5%;
}

div.col2 {
    float: right;
    width: 30%;
    display: inline-block;
    margin-right: 15%;
    margin-bottom: 5%;
}

div.col3 {
    width: 30%;
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
}

div.col4 {
    float: right;
    width: 30%;
    display: inline-block;
    margin-right: 15%;
    margin-top: 5%;
}

div.icons img {
    width: 100%;
}


/*for options*/
div.option{
    color: #fff;
}

div.option h2 {
    margin-top: 3.5%;
    font-size: 320%;
    font-family: 'Cabin', sans-serif;
}

div.option img {
    width: 39%;
}

div.left {
    background-color: #3f3642;
    padding-right: 5%;
}

div.right {
    background-color: #827e82;
    padding-left: 5%;
}

div.left img {
    margin-right: 5%;
}

div.right img {
    margin-left: 5%;
}

div.left span.detail {
    margin-right: 5%;
}

span.detail {
    font-size: 270%;
}









